<div>
    <app-side-nav></app-side-nav>
    <form
        class="form-container"
        (ngSubmit)="onSubmit()"
    >
        <div class="input">
            <input
                type="text"
                name="username"
                [(ngModel)]="username"
                placeholder="Enter username"
            >
            <input
                type="password"
                name="password"
                [(ngModel)]="password"
                placeholder="Enter password"
            >

        </div>

        <div class="button">
            <button
                (click)="onSubmit()"
                type="submit"
                class="btn btn-primary"
            >
                Login
            </button>

        </div>

    </form>

</div>
