.title {
  text-align: center;
}
.form-container {
  padding-top: 20px;
  left: 40%;
  position: absolute;
  display: inline-grid;
}

.dropdown {
  display: inline-grid;
}

.form-item {
  left: 40%;
  padding: 10px;
}
