<div>
    <app-side-nav></app-side-nav>
    <h2 class="title">{{pageTitle | uppercase}}</h2>

    <div class="form-container">
        <div class="dropdown">
            <mat-label>Currency</mat-label>
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="currency">
                    <mat-option value="TL">TL</mat-option>
                    <mat-option value="Euro">Euro</mat-option>
                    <mat-option value="Dollar">Dollar</mat-option>
                    <mat-option value="Gold">Gold</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <form
            class="form"
            (ngSubmit)="onSubmit()"
        >

            <div class="form-item">
                <input
                    type="text"
                    name="username"
                    [(ngModel)]="username"
                    placeholder="Enter username"
                    required
                >
            </div>
            <div class="form-item">

                <input
                    type="number"
                    name="amount"
                    [(ngModel)]="balance"
                    placeholder="Enter amount"
                    required
                >

            </div>

            <div class="button form-item">
                <button
                    (click)="onSubmit()"
                    type="submit"
                    class="btn btn-primary"
                >
                    Create Account
                </button>

            </div>
        </form>

    </div>

</div>
