<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
    </mat-card-header>
    <div *ngIf="imageUrl !== '' else defImg">
        <img mat-card-image src={{imageUrl}} class="py-4" alt="Photo of a Shiba Inu">
    </div>
    <ng-template #defImg>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </ng-template>
    <mat-card-content>
        <p> {{description}} </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
