<div class="pt-4">
    <div class="m-4 mt-4">
        <h2 class="text-center"> Kurs Yönetim Admin Paneline Hoşgeldiniz</h2>
    </div>
    <h3 class="px-3 py-4"> Projenin yapımı sırasında hiyerarşik yapı olarak işletmelerin farklı kurslardan oluştuğunu, kursların farklı derslerden oluştuğunu, deslerin ise ödevlerden ve konu anlatım videolarından oluştuğunu farz ettim. Bunun yanı sıra oluşturduğum modelde sekreter rolündeki kullanıcılar öğretmen ve öğrencilerin kurslar ile aralarındaki ilişkiyi sağlamadan sorumlu olması gerektiğini ve öğrencilerden aldığı ödemeler doğrultusunda onları derslere eklemesi gerektiğini düşündüm. </h3>
    <h4 class="px-3"> Yukarıdakilere ek olarak, projenin geniş kapsamlı oluşu ve son yaptığımız konuşmadan yola çıkarak, projedeki tamamen statik component kullanmaya karar verdim. </h4>
    <h4 class="px-3">Angular üstüne kütüphane olarak hem Bootstrap hem de material kullanılmıştır. </h4>
</div>
