<div class="m-3">
    <div class="m-4 mt-4">
        <h2 class="text-center"> Ders Yarat</h2>
    </div>
    <form>
        <h2>Hangi işletmeye ders yaratmak istersiniz</h2>
        <mat-form-field appearance="fill">
            <mat-label>İşletmeler</mat-label>
            <mat-select name="ins" (selectionChange)="showCourseOfIns($event)">
                <mat-option *ngFor="let item of allIns" [value]="item.courseList">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <form>
        <h2>Hangi kursa ders yaratmak istersiniz</h2>
        <mat-form-field appearance="fill">
            <mat-label>Kurslar</mat-label>
            <mat-select name="ins" [(ngModel)]="selectedCourse" (selectionChange)="ShowModulesOfCourse($event)">
                <mat-option *ngFor="let item of coursesOfSelectedIns" [value]="item.modules">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <h2 class="mt-3">DERS</h2>
    <form class="example-form">
        <div class="m-3">
            <mat-form-field class="example-form">
                <mat-label class="mx-2">Ders Adı</mat-label>
                <input type="email" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nameFormControl.hasError('required')"> ders adı alanı <strong>boş bırakılamaz</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="m-3">
            <mat-form-field class="example-form">
                <mat-label class="mx-2">Ders Açıklama (Opsiyonel)</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="m-3">
            <mat-form-field class="example-form">
                <mat-label class="mx-2">Ders Videosu URL (opsiyonel)</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="mx-3">
            <button mat-raised-button color="primary" class="px-4">Dersi Yarat</button>
            <button mat-raised-button color="primary" class="px-4 mx-3">Derse Ödev Yarat</button>
        </div>
    </form>
</div>
